bson
blinker
certifi
chardet
click
Flask
Flask-Admin
Flask-Login
Flask-Mail
Flask-OAuthlib
Flask-PyMongo
Flask-Script
Flask-Uploads
Flask-WTF
idna
itsdangerous
jieba
Jinja2
oauthlib
Pillow
pymongo
requests
requests-oauthlib
urllib3
Werkzeug
Whoosh
WTForms
