<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>{% block title %}汲识问答{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1,
    maximum-scale=1">
  <link rel="stylesheet" href="/static/layui/css/layui.css">
  <link rel="stylesheet" href="/static/css/global.css">
  {% block other_res %}
  {% endblock %}
</head>
<body>
    <div class='fly-header layui-bg-black'>
      <div class="layui-container">
        <a class="fly-logo" href="/">
          <img src="/static/images/logo.png" alt="layui">
        </a>
        <ul class="layui-nav fly-nav layui-hide-xs">
          <li class="layui-nav-item layui-this">
            <a href="#">交流<i class="layui-icon"></i>  </a>
          </li>
          <li class="layui-nav-item layui-this">
            <a href="/add">提问<i class="layui-icon"></i>  </a>
          </li>
        </ul>
        <ul class="layui-nav fly-nav-user">
          <!-- 判断用户是否登录 -->
          {% if current_user.is_authenticated %}
            <li class="layui-nav-item">
              <a class="fly-nav-avatar" href="javascript:;">
                <cite class="layui-hide-xs">{{ current_user.user.username }}</cite>
                {% if current_user.user.renzheng %}
                  <i class="iconfont icon-renzheng" title="{{ current_user.user.renzheng }}"></i>
                {% endif %}
                {% if current_user.user.get('level', 0) > 0 %}
                <i class="layui-badge fly-badge-vip">level{{ current_user.user.level }}</i>
                {% endif %}
                <img src="{{ current_user.user.avatar }}">
              </a>
              <!-- dl class="layui-nav-child">
                <dd><a href="{#{ url_for('user.user_set') }#}">
                  <i class="layui-icon">&#xe620;</i>基本设置</a>
                </dd>
                <dd><a href="{#{ url_for('user.user_message') }#}">
                  <i class="iconfont icon-tongzhi" style="top: 4px;"></i>我的消息</a>
                </dd>
                <dd><a href="{#{ url_for('user.user_home', user_id=current_user.user._id) }#}">
                  <i class="layui-icon" style="margin-left: 2px; font-size: 22px;">&#xe68e;</i>我的主页</a>
                </dd>
                <hr style="margin: 5px 0;">
                <dd><a href="{#{ url_for('user.logout') }#}" style="text-align: center;">退出</a></dd>
              </dl -->
            </li>
            {% if current_user.user.get('unread', 0) > 0 %}
              <li class="layui-nav-item">
                <!-- a href="{#{ url_for('user.user_message') }#}">
                  <span class="layui-badge">{#{ current_user.user.unread }#}</span>
                </a -->
              </li>
            {% endif %}
          <!-- 如果没有登录，显示登录和注册按钮 -->
          {% else %}
            <li class="layui-nav-item">
              <a class="iconfont icon-touxiang layui-hide-xs" href="#"></a>
            </li>
            <li class="layui-nav-item">
              <a href="/user/login">登录</a>
            </li>
            <li class="layui-nav-item">
              <a href="/user/register">注册</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
    {% block body %}
    {% endblock %}
    <div class="fly-footer">
    <p>Power by Python-Flask&layUI</p>
    <p>&copy; Copyright 2020 by<a href='http://www.getanswer.space' target='_blank'>汲识问答</a></p>
  </div>
  <script src="/static/layui/layui.js"></script>
  <script>
    layui.cache.page = "{{ page_name if page_name else '' }}";
    layui.cache.user = {
        username: "{{ current_user.user['username'] if current_user.is_authenticated else '游客'}}",
        uid: "{{ current_user.user['_id'] if current_user.is_authenticated }}",
        avatar: "{{ current_user.user['avatar'] if current_user.is_authenticated}}",
        experience: "{{ current_user.user['coin'] if current_user.is_authenticated else '0'}}",
        sex: "{{ current_user.user.get('sex', '未知') if current_user.is_authenticated else '未知'}}"
    };
    layui.config({
        version: "3.0.0"
        , base: '/static/mods/' //这里实际使用时，建议改成绝对路径
    }).extend({
        fly: 'index'
    })
    {% block fly_use %}.use('fly');
     {% endblock %}
  </script>
  {% block other_js %}
  {% endblock %}
</body>
</html>