{% extends 'base.html' %}

{% block body %}
<div class="fly-panel fly-column">
  <div class="layui-container">
    <ul class="layui-clear">
      <li class="layui-hide-xs {{ 'layui-this' if is_index }}"><a href="/">综合</a></li>
      <li class="layui-hide-xs layui-hide-sm layui-show-md-inline-block"><span class="fly-mid"></span></li>
      {% if current_user.is_authenticated %}
      <li class="layui-hide-xs layui-hide-sm layui-show-md-inline-block"><a href="{{ url_for('user.user_home', user_id=current_user.user._id) }}">我提出的问题</a></li>
      <!-- <li class="layui-hide-xs layui-hide-sm layui-show-md-inline-block"><a
          href="../user/index.html#collection">我收藏的贴</a></li> -->
      {% endif %}
    </ul>
    <div class="fly-column-right layui-hide-xs">
      <span class="fly-search"><i class="layui-icon"></i></span>
      <a href="{{ url_for('bbs_index.add') }}" class="layui-btn">提出问题</a>
    </div>
    <div class="layui-hide-sm layui-show-xs-block" style="margin-top: -10px; padding-bottom: 10px; text-align: center;">
      <a href="{{ url_for('bbs_index.add') }}" class="layui-btn">提出问题</a>
    </div>
  </div>
</div>
<div class="layui-container">
  <div class="layui-row layui-col-space15">
    {% block content %}
    {% endblock %}
    <div class="layui-col-md4">
      {% if current_user.is_authenticated %}
      <div class="fly-panel fly-signin">
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
        <div class="fly-panel-title">
          签到
          <i class="fly-mid"></i>
          <a href="javascript:;" class="fly-link" id="LAY_signinHelp">说明</a>
        </div>
        <div class="fly-panel-main fly-signin-main">

        </div>
      </div>
      {% endif %}

      <div class="fly-panel fly-rank fly-rank-reply" id="LAY_replyRank">
        <h3 class="fly-panel-title">回贴榜</h3>
        <dl>
          <!--<i class="layui-icon fly-loading">&#xe63d;</i>-->
          {% for item in get_list('users', sort_by=('reply_count',-1), size=12) %}
          <dd>
            <a href="/user/{{ item._id }}">
              <img src="{{ item.avatar }}"><cite>{{ item.username }}</cite><i>{{ item.get('reply_count', 0) }}次回答</i>
            </a>

          </dd>
          {% else %}
          <div class="fly-none">没有相关数据</div>
          {% endfor %}
        </dl>
      </div>

      <dl class="fly-panel fly-list-one">
        <dt class="fly-panel-title">本周热议</dt>
        {% for item in get_list('posts', sort_by=('comment_count',-1), size=10, 
            filter1={'created_at':{'$gte': date_cal(7, False)}}) %}
        <dd>
          <a href="/post/{{ item._id }}">{{ item.title }}</a>
          <span><i class="iconfont icon-pinglun1"></i> {{ item.get('comment_count', 0) }}</span>
        </dd>
        {% else %}
        <div class="fly-none">没有相关数据</div>
        {% endfor %}
      </dl>

      <div class="fly-panel">
        <h3 class="fly-panel-title">友情链接</h3>
        <ul class="fly-panel-main fly-list-static">
          {% for item in get_list('friend_links', sort_by=('sort', -1)) %}
          <li>
            <dd><a href="{{ item.url }}" target="_blank">{{ item.name }}</a></dd>
          </li>
          {% else %}
          <a>友情链接请联系 : mrjingcheng@foxmail.com</a>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}
