{% extends 'base.html' %}

{% block title %}
新建话题
{% endblock %}

{% block body %}

<div class="layui-container fly-marginTop">
  <div class="fly-panel" pad20 style="padding-top: 5px;">
    <!--<div class="fly-none">没有权限</div>-->
    <div class="layui-form layui-form-pane">
      <div class="layui-tab layui-tab-brief" lay-filter="user">
        <ul class="layui-tab-title">
          <li class="layui-this">{% if is_add %}新建话题 {% else %} 编辑话题 {% endif %}</li>
        </ul>
        <div class="layui-form layui-tab-content" id="LAY_ucm" style="padding: 20px 0;">
          <div class="layui-tab-item layui-show">
            <form action="" method="post">
              {{ form.csrf_token }}
              <div class="layui-form-item">
                <label for="L_title" class="layui-form-label">话题名称</label>
                <div class="layui-input-block">
                  <input type="text" id="L_title" name="title" required lay-verify="required" autocomplete="off"
                    placeholder="输入一个清晰明确的话题" class="layui-input" value="{{ topic['title'] }}">
                  <!-- <input type="hidden" name="id" value="{{post_id}}"> -->
                </div>
              </div>
          </div>
          <div class="layui-form-item layui-form-text">
            <div class="layui-input-block">
              <textarea id="L_content" name="description" required lay-verify="required" placeholder="详细描述"
                class="layui-textarea fly-editor" style="height: 260px;">{{ topic['description'] }}</textarea>
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">话题管理员</label>
            <div class="layui-input-block">
              <select lay-verify="required" name="topic_admin">
                <option selected="selected" value="{{ user._id }}">{{user.username}} ({{user.email}})</option>
                    {% for item in get_list('users') %}
                    <option value=" {{ item._id }}"
                  {{ 'selected' if topic and topic['topic_admin'] == item._id }}>{{item.username}} ({{item.email}})</option>
                {% endfor %}

              </select>
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">父话题</label>
            <div class="layui-input-block">
              <select lay-verify="required" name="parent_id">
                <option></option>
		{% set root = mongo_find_one('topics', {'name':'元话题'}) %}
                {% for item in get_list('topics') %}
		{% if item.parent_id == root['_id'] or item._id == root['_id'] %}
                <option value="{{ item._id }}" {{ 'selected' if topic and topic['topic_id'] == item._id }}>
                  {{ item.name }}</option>
		{% endif %}
                {% endfor %}

              </select>
            </div>
          </div>
          <div class="layui-form-item">
            <label for="L_vercode" class="layui-form-label">人类验证</label>
            <div class="layui-input-inline">
              <input type="text" id="L_vercode" name="vercode" required lay-verify="required" placeholder="请回答后面的问题"
                autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid">
              <span style="color: #c00;">{{ ver_code }}</span>
            </div>
          </div>
          <div class="layui-form-item">
            <button class="layui-btn" lay-filter="*" alert="true" lay-submit>立即创建</button>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}


{% block other_js %}
{% endblock %}
